<section id="about" class="marginTop5">
	<div class="cell70 centerObject paddy20">
		<div class="cell70 paddy30 centerObject center">
			<img src="theme/{$settings.theme}/img/container/5.jpg" width="500" height="700">
		</div>
		<div class="paddy40">
			<h1>
				درباره دینا پارت
			</h1>
			<p>
				شرکت دینا ایمن قطعه با پشتوانه بیش از ۲۵ سال فعالیت مستمر و بلاانقطاع بنیانگذاران آن در عرصه تهیه و توزیع قطعات یدکی خودروهای سواری و با تکیه بر شهرت و محبوبیت برند دینا پارت،اکنون به سازمانی  بالنده و پویا تبدیل گردیده و افتخار دارد که در تمامی پهنه ایران زمین، بهترین و با کیفیت‌ترین قطعات را از طریق صدها نمایندگی در اختیار هموطنان گرامی قرار دهد. 	
			</p>
			<p>
				زیر ساخت‌های شرکت که بر اساس به روزترین دستاوردهای دانش مدیریت، تجربه گران‌بهای بنیانگذاران و مدیرانی که سال‌های متمادی در عرصه صنعت خودرو و خدمات پس از فروش آن فعالیت داشته‌اند طراحی و اجرا گردیده، بستر بی‌نظیری را برای تشکیل زنجیره تامینی از توانمندترین تولیدکنندگان داخلی و بین المللی، شبکه‌ای گسترده از نمایندگانی خبره و خدمتگذار و سبدی متشکل از بیش از دو هزار قلم کالا که همواره در حال توسعه و ارتقاء کمی و کیفی می‌باشد را فراهم نموده است.. 
			</p>
			<p>
				پیشتازی و پیشرو بودن همواره از اهداف اساسی دینا ایمن قطعه می‌باشد. از این رو به عنوان اولین شرکت تامین و توزیع قطعات یدکی اقدام به طراحی و استقرار نظام بین المللی مدیریت کیفیت مبتنی بر استاندارد iso9001:2008   نموده است تا بر اساس الزامات جهانی، تعهد خود به ارائه  بهترین محصولات و خدمات به مشتریان را درمعرض داوری بین المللی قرار دهد.
			</p>
			<p>
				مشتری مداری سرلوحه تمامی برنامه‌های دینا ایمن قطعه می‌باشد.
			</p>
			<p>
				خبرهای خوب در راه است...
			</p>
			<br>
			<hr>
			<ul class="listStyleDisc LH35">
				<li><a href="contact/v_contactUs" title="تماس با ما">تماس با ما</a></li>
				<li><a href="">تعهدات شرکت</a></li>
				<li><a href="">محدودیت های کاری</a></li>
				<li><a href="">بیانیه حقوق مشتریان</a></li>
				<li><a href="">خط مشی دینا پارت</a></li>
			</ul>
		</div>
	</div>
</section>