<section id="newsTicker">{include file="theme/`$settings.theme`/tpl/common/newsTicker.htm"}</section>
<br><br><br>
<div class="clearFix cell80 centerObject">
	<div class="row cell50">
		<div class="paddy15">
			<div class="clearFix">
				<div class="row cell70 right LH30">
					&nbsp;
				</div>
				<div class="row cell30 center">
					<span class="fa fa-angle-up fa-2x grey"></span>
				</div>
			</div>
			<div class="curvedFull boxShadow pureWhiteFrame vticker1 h480">
				<ul>
					<li class="paddy10">
						<div class="clearFix h130">
							<div class="row cell20">
								<ul>
									<li class="liteGreyFrame margin1 paddy2">مدل:</li>
									<li class="liteGreyFrame margin1 paddy2">وزن:</li>
									<li class="liteGreyFrame margin1 paddy2">سایز:</li>
									<li class="liteGreyFrame margin1 paddy2">رنگ:</li>
									<li class="liteGreyFrame margin1 paddy2">کد:</li>
								</ul>
							</div>
							<div class="row cell80 center">
								<img src="theme/{$settings.theme}/img/parts/1605039.jpg" width="100%">
							</div>
						</div>
					</li>
					<li class="paddy10">
						<div class="clearFix h130">
							<div class="row cell20">
								<ul>
									<li class="liteGreyFrame margin1 paddy2">مدل:</li>
									<li class="liteGreyFrame margin1 paddy2">وزن:</li>
									<li class="liteGreyFrame margin1 paddy2">سایز:</li>
									<li class="liteGreyFrame margin1 paddy2">رنگ:</li>
									<li class="liteGreyFrame margin1 paddy2">کد:</li>
								</ul>
							</div>
							<div class="row cell80 center">
								<img src="theme/{$settings.theme}/img/parts/1605071.jpg" width="100%">
							</div>
						</div>
					</li>
					<li class="paddy10">
						<div class="clearFix h130">
							<div class="row cell20">
								<ul>
									<li class="liteGreyFrame margin1 paddy2">مدل:</li>
									<li class="liteGreyFrame margin1 paddy2">وزن:</li>
									<li class="liteGreyFrame margin1 paddy2">سایز:</li>
									<li class="liteGreyFrame margin1 paddy2">رنگ:</li>
									<li class="liteGreyFrame margin1 paddy2">کد:</li>
								</ul>
							</div>
							<div class="row cell80 center">
								<img src="theme/{$settings.theme}/img/parts/2306001.jpg" width="100%">
							</div>
						</div>
					</li>
					<li class="paddy10">
						<div class="clearFix h130">
							<div class="row cell20">
								<ul>
									<li class="liteGreyFrame margin1 paddy2">مدل:</li>
									<li class="liteGreyFrame margin1 paddy2">وزن:</li>
									<li class="liteGreyFrame margin1 paddy2">سایز:</li>
									<li class="liteGreyFrame margin1 paddy2">رنگ:</li>
									<li class="liteGreyFrame margin1 paddy2">کد:</li>
								</ul>
							</div>
							<div class="row cell80 center">
								<img src="theme/{$settings.theme}/img/parts/2401003.jpg" width="100%">
							</div>
						</div>
					</li>
					<li class="paddy10">
						<div class="clearFix h130">
							<div class="row cell20">
								<ul>
									<li class="liteGreyFrame margin1 paddy2">مدل:</li>
									<li class="liteGreyFrame margin1 paddy2">وزن:</li>
									<li class="liteGreyFrame margin1 paddy2">سایز:</li>
									<li class="liteGreyFrame margin1 paddy2">رنگ:</li>
									<li class="liteGreyFrame margin1 paddy2">کد:</li>
								</ul>
							</div>
							<div class="row cell80 center">
								<img src="theme/{$settings.theme}/img/parts/unknown.jpg" width="100%">
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearFix">
				<div class="row cell70 right LH30">
					<span><a href="">قطعات بیشتر</a></span>
				</div>
				<div class="row cell30 center">
					<span class="fa fa-angle-down fa-2x grey"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="row cell50">
		<div class="paddy15">
			<div class="clearFix">
				<div class="row cell70 right LH30">
					&nbsp;
				</div>
				<div class="row cell30 center">
					<span class="fa fa-angle-up fa-2x grey"></span>
				</div>
			</div>
			<div class="boxShadow pureWhiteFrame vticker2">
				<ul>
					<li>
						<div class="clearFix curvedFull pureWhiteFrame h500">
							<img src="theme/{$settings.theme}/img/week-offer.jpg" width="100%" class="curvedTop">
							<div class="paddy5">
								<h2 class="skyBlue">مدل هفته</h2>
								<p>این یک متن تست است که باید ویرایش شود و متنی بهتر بجای آن نوشته شود. خط دوم این پاراگراف به منظور افزایش خط نوشته شده است.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="clearFix curvedFull pureWhiteFrame h500">
							<img src="theme/{$settings.theme}/img/week-offer.jpg" width="100%" class="curvedTop">
							<div class="paddy5">
								<h2 class="skyBlue">مدل هفته</h2>
								<p>این یک متن تست است که باید ویرایش شود و متنی بهتر بجای آن نوشته شود. خط دوم این پاراگراف به منظور افزایش خط نوشته شده است.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="clearFix curvedFull pureWhiteFrame h500">
							<img src="theme/{$settings.theme}/img/week-offer.jpg" width="100%" class="curvedTop">
							<div class="paddy5">
								<h2 class="skyBlue">مدل هفته</h2>
								<p>این یک متن تست است که باید ویرایش شود و متنی بهتر بجای آن نوشته شود. خط دوم این پاراگراف به منظور افزایش خط نوشته شده است.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="clearFix curvedFull pureWhiteFrame h500">
							<img src="theme/{$settings.theme}/img/week-offer.jpg" width="100%" class="curvedTop">
							<div class="paddy5">
								<h2 class="skyBlue">مدل هفته</h2>
								<p>این یک متن تست است که باید ویرایش شود و متنی بهتر بجای آن نوشته شود. خط دوم این پاراگراف به منظور افزایش خط نوشته شده است.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="clearFix curvedFull pureWhiteFrame h500">
							<img src="theme/{$settings.theme}/img/week-offer.jpg" width="100%" class="curvedTop">
							<div class="paddy5">
								<h2 class="skyBlue">مدل هفته</h2>
								<p>این یک متن تست است که باید ویرایش شود و متنی بهتر بجای آن نوشته شود. خط دوم این پاراگراف به منظور افزایش خط نوشته شده است.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="clearFix">
				<div class="row cell70 right LH30">
					<span><a href="">قطعات بیشتر</a></span>
				</div>
				<div class="row cell30 center">
					<span class="fa fa-angle-down fa-2x grey"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="carTypes" class="carTypes">
	<h2 class="center">خودروهای قابل پشتیبانی</h2>
	<br>
	<ul class="clearFix">
		<li class="row cell20 carType1 center LH45">
			<span class="specialFont darkBlue">موتور سیکلت</span>
		</li>
		<li class="row cell20 carType2 center LH45">
			<span class="specialFont darkBlue">سواری</span>
		</li>
		<li class="row cell20 carType3 center LH45">
			<span class="specialFont darkBlue">اسپورت</span>
		</li>
		<li class="row cell20 carType4 center LH45">
			<span class="specialFont darkBlue">وانت باری</span>
		</li>
		<li class="row cell20 carType5 center LH45">
			<span class="specialFont darkBlue">استیشن</span>
		</li>		
     </ul>
</div>
<div id="testimonials">
	<h2 class="center">نظرات مشتریان</h2>
	{nocache}{include file="theme/`$settings.theme`/tpl/common/testimonials.htm"}{/nocache}
</div>