<div class="cell60 centerObject marginTop5 marginBottom5">
	<h1 class="center">تماس با دینا پارت</h1>
	<div id="contactInfo" class="clearFix">
		<div class="row cell40 center">
			<img class="circle200 centerObject hover" src="theme/{$settings.theme}/img/sales-department.jpg">
		</div>
		<div class="row cell60">
			<div class="paddyUpDown60">
				<div class="paddy10 greyFrame">
					<ul class="LH35 specialFont">
						<li>تلفن واحد بازاریابی و فروش: ۲۶۷۶۰۹۹۲-۰۲۱</li>
						<li>فکس واحد فروش: ۲۲۱۴۴۱۵۲-۰۲۱</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<hr width="50%">
	<div id="contactInfo" class="clearFix">
		<div class="row cell40 center">
			<img class="circle200 centerObject hover" src="theme/{$settings.theme}/img/supply-department.jpg">
		</div>
		<div class="row cell60">
			<div class="paddyUpDown60">
				<div class="paddy10 greyFrame">
					<ul class="LH35 specialFont">
						<li>تلفن واحد تامین قطعات، مالی و مدیریت: ۲۶۷۶۰۹۹۱-۰۲۱</li>
						<li>فکس واحد تامین: ۲۲۱۴۴۱۵۵-۰۲۱</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<hr width="50%">
	<div id="contactInfo" class="clearFix">
		<div class="row cell40 center">
			<img class="circle200 centerObject hover" src="theme/{$settings.theme}/img/customer-voice.jpg">
		</div>
		<div class="row cell60">
			<div class="paddyUpDown60">
				<div class="paddy10 greyFrame">
					<ul class="LH35 specialFont">
						<li>تلفن واحد صدای مشتریان: -۰۲۱</li>
						<li>فکس واحد صدای مشتریان: -۰۲۱</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>