<div class="cell70 centerObject marginTop5">
	<h1 class="center">صدای مشتری</h1>
	<div class="clearFix">
		<div class="row cell30">
			<img class="circle200 centerObject hover" src="theme/{$settings.theme}/img/customer-satisfaction.jpg">
			<button class="marginTop10">رضایت مشتری</button>
		</div>
		<div class="row cell5">&nbsp;</div>
		<div class="row cell30">
			<img class="circle200 centerObject hover" src="theme/{$settings.theme}/img/customer-complaint.jpg">
			<button class="marginTop10">شکایت مشتری</button>
		</div>
		<div class="row cell5">&nbsp;</div>
		<div class="row cell30">
			<img class="circle200 centerObject hover" src="theme/{$settings.theme}/img/customer-comment.jpg">
			<button class="marginTop10">نظر مشتری</button>
		</div>
	</div>
	<br><br>
	{include file="theme/`$settings.theme`/tpl/common/sendMessage.htm"}
</div>