<div class="clearFix cell80 centerObject paddy20">
	<div class="row cell15">
		<h3 class="white">خودروها</h3>
		<ul>
			<li>خودرو تست ۱</li>
			<li>خودرو تست ۲</li>
			<li>خودرو تست ۳</li>
			<li>خودرو تست ۴</li>
		</ul>
	</div>
	<div class="row cell15">
		<h3 class="white">دسترسی‌ها</h3>
		<ul>
			<li>دسترسی‌ها تست ۱</li>
			<li>دسترسی‌ها تست ۲</li>
			<li>دسترسی‌ها تست ۳</li>
			<li>دسترسی‌ها تست ۴</li>
		</ul>
	</div>
	<div class="row cell15">
		<h3 class="white">محصولات</h3>
		<ul>
			<li>محصولات تست ۱</li>
			<li>محصولات تست ۲</li>
			<li>محصولات تست ۳</li>
			<li>محصولات تست ۴</li>
		</ul>
	</div>
	<div class="row cell15">
		<h3 class="white">دفتر مرکزی</h3>
		<p>
			تهران، سعادت آباد، بلوار شهرداری، خیابان سپیدار، پلاک ۶
		</p>
	</div>
	<div class="row cell40 center">
		<img src="theme/{$settings.theme}/img/map.jpg" class="circle200 centerObject hover">
	</div>
</div>
<br><br><br>
<div class="socialSection paddy10 grey center x2">
	<span class="fa fa-facebook-square"></span>
	<span class="fa fa-youtube-square"></span>
	<span class="fa fa-instagram"></span>
	<span class="fa fa-linkedin-square"></span>
	<span class="fa fa-twitter-square"></span>
</div>