{include file="theme/`$settings.theme`/tpl/common/menu.htm"}
<div class="clearFix">

	<div class="row cell85 menuCell">
	</div>
	
</div>
{nocache}
{if $sections.headerSplash}
<div class="headerSplash">
	<div class="clearFix">
		<div class="row cell20 left h120">
			&nbsp;
		</div>
		<div class="row cell60">
			<div class="paddy10">&nbsp;</div>
			<h1 class="LH30 darkBlue center LH40 glow">کسبینو، راهنمای شما برای کسب و کار آنلاین</h1>
		</div>
		<div class="row cell20 right">
			&nbsp;
		</div>
	</div>
	<div class="paddy20">&nbsp;</div>
</div>
{/if}
{/nocache}