<div class="newsTicker bold clearFix">
	<div class="row cell15 center">
		<span class="newsTickerRight LH35"></span>
	</div>
	<div class="row cell80">
		<marquee direction="right" class="LH20 x1_2" onmouseover="this.stop();" onmouseout="this.start();">
			<a href="#" class="white">دوازدهمین نمایشگاه بین المللی نیرو محرکه خودرو و قطعات شیراز </a> | 
			<a href="#" class="white">اولین کنفرانس بین المللی تهران</a> |
			<a href="#" class="white">ششمین همایش بین المللی نیرو محرکه خودرومشهد</a> |
			<a href="#" class="white">نمایشگاه بین المللی نیرو محرکه خودرو کرمان</a>
		</marquee>
	</div>
	<div class="row cell5 LH20 center white">
		<span class="fa fa-angle-double-right fa-2x opacity7"></span>
	</div>
</div>