<section id="testimonials" class="cell80 centerObject">
	<div class="testimonial-widget">
    	<div class="testimonial">
      		<figure class="testimonial__mug">
        		<img src="theme/{$settings.theme}/img/testimonials/avatar-1.jpg">
      		</figure>
      		<p>&ldquo;من اولین بار هست که لنت ترمزهای شما را خریداری کردم، بسیار راضی هستم. هم طول عمر خوبی دارند و هم به خوبی عمل می کنند.&rdquo;</p>
      		<p>
        		<strong>علی محمدی</strong>
      		</p>
    	</div>
	    <div class="testimonial">
	    	<figure class="testimonial__mug">
	        	<img src="theme/{$settings.theme}/img/testimonials/avatar-2.jpg">
	      	</figure>
	      	<p>&ldquo;با وجود اینکه راننده حرفه‌ای نیستم ولیکن قطعات شما جزء حرفه‌ای ترین قطعات ایران هست.&rdquo;</p>
	      	<p>
	        	<strong>سارا ایزدی</strong>
	      	</p>
	    </div>
	    <div class="testimonial">
	      	<figure class="testimonial__mug">
	        	<img src="theme/{$settings.theme}/img/testimonials/avatar-3.jpg">
	      	</figure>
	      	<p>&ldquo;قیمت مناسب و کیفیت عالی از مزیت‌های دینا پارت هست. من همیشه از محصولات شما خریداری میکنم.&rdquo;</p>
	      	<p>
	        	<strong>رضا احمدی</strong>
	      	</p>
	    </div>
    	<span class="prev-testimonial">قبلی</span>
    	<span class="next-testimonial">بعدی</span>
  	</div>
</section>